$font-size: 22px;
$button-bg: red;

.hello-world-button {
  font-size: $font-size;
  padding: 7px 15px;
  background: $button-bg;
  color: white;
  outline: none
}


.hello-world-text {
  color: blue;
  font-weight: bold;
}

img {
  transform: rotate(270deg);
}